body {font-size: 12px;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}
ul.title {
    padding:0;
    margin:0;
    list-style-type:none;
}
li.title {
    margin-left:2px;
    float:left; /*pour IE*/
}
ul.title li.title a.title {
    display:block;
    float:left;
    width:100px;
    #background-color:#6495ED;
    background-color:#FFFFFF;
    color:black;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
    /*pour avoir un effet "outset" avec IE :*/
    border-color:#DCDCDC #696969 #696969 #DCDCDC;
}
ul li a:hover {
    background-color:#D3D3D3;
    border-color:#696969 #DCDCDC #DCDCDC #696969;
}

.icon-ligne
{
    display: inline-block;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    background-color: #323a45;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.span_link {    
    color: blue;
    text-decoration:underline;
    cursor: pointer;
}

/*styles pour la page journeys*/
.journey {
    border-style:solid;
    border-width:2px;
    margin-bottom:10px;
}
.section{
    border-style:dotted;
    border-width:1px;
}

.footer{
    text-align : center;
    font-size: 14px;
}
h2{
    text-align : center;
    font-size: 14px;
}
h1{
    text-align : center;
}

/*style pour virer les tableaux */
section {
    display: inline-block;
    vertical-align: top;
    width : 49%;
    margin : auto;
}

section.first_half {
    min-width: 500px;
    max-height : 500px;
    overflow-y: scroll;
    border-style: solid;
    border-width: 0px;
}
section.second_half {
    min-width: 500px;
    max-height : 500px;
    padding-left: 2px;
}
 
 
.map-canvas {
    height : 100%;
    width: 100%;
    max-height : 500px;
}
.item{
    padding:5px;
    font-size: 12px;
    border-width: 1px;
    border-style: none none solid none;
}

.item .title {
    display:block;
    color: #EA6612  ;
    font-weight:700;
}
.item .title small { font-weight:400; }
.item.active .title,
.item .title:hover { color:#BAB431; }
.item .active {
background-color:#f8f8f8;
}
body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position:relative;
    z-index: 1;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.menu {
    background-color: #1D1F20;
    background-image: linear-gradient(145deg, #1D1F20, #404348);
}

a {
    color: #4B5;
    text-decoration: none;
}

.menu a {
    color: #fff;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-header {
    border-bottom: 2px solid #666666;
    padding: 20px 0 20px 60px;
}

.menu-header-title {
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
    color: #85888d;
    font-size: 1.75em;
}

.menu-section {
    margin: 25px 0;
}

.menu-section-title {
    text-transform: uppercase;
    color: #85888d;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0 20px;
    margin:0;
}

.menu-section-list {
    padding:0;
    margin: 10px 0;
    list-style:none;
}

.menu-section-list a {
    display: block;
    padding: 10px 20px;
}

.menu-section-list a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.panel {
    padding-top: 5px;
    min-height: 100%;
}

div#coverage_list {
    padding: 10px 20px;
}

ul.title li.title a.title {
    display:block;
    text-decoration:none;
    text-align:center;
    padding:5px;
}