body {font-size: 12px;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.icon-ligne
{
    display: inline-block;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    background-color: #323a45;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.span_link {    
    color: blue;
    text-decoration:underline;
    cursor: pointer;
}

/*styles pour la page journeys*/
.journey {
    border-style:solid;
    border-width:2px;
    margin-bottom:10px;
}
.section{
    border-style:dotted;
    border-width:1px;
}

.footer{
    text-align : center;
    font-size: 14px;
}
h2{
    text-align : center;
    font-size: 14px;
}
h1{
    text-align : center;
}

/*style pour virer les tableaux */
section {
    display: inline-block;
    vertical-align: top;
    width : 95%;
    margin : auto;
}

section.first_half {
    min-width: 500px;
    max-height : 500px;
    overflow-y: scroll;
    border-style: solid;
    border-width: 0px;
}
section.second_half {
    min-width: 500px;
    max-height : 500px;
    padding-left: 2px;
}
 
 
.map-canvas {
    height : 100%;
    width: 100%;
    max-height : 500px;
}
.item{
    padding:5px;
    font-size: 12px;
    border-width: 1px;
    border-style: none none solid none;
}

.item .title {
    display:block;
    color: #EA6612  ;
    font-weight:700;
}
.item .title small { font-weight:400; }
.item.active .title,
.item .title:hover { color:#BAB431; }
.item .active {
background-color:#f8f8f8;
}
