body{
	font-family:  verdana;
}

ul{
	margin: 0px;
	width: 100%;
	padding-left: 0px;
}

li{
	list-style: none;
	width: 90%;
	background: #EE6146;
	border-radius: 10px;
	margin-bottom: 5px; 
	padding: 10px;
}

li:hover{
	background: #eeb546;
}

li a{
	text-decoration: none;
	color: white;
}